:root {
  --navbar-height: 93.59px;
  --bg-img-header: url("../assets/img/jumbo-bg.png");
}

* {
  font-family: "Inter", sans-serif;
}

.bg-img {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
