:root {
  --navbar-height: 93.59px;
  --bg-img-header: url("../assets/img/jumbo-bg.png");
  --bg-img-ittakestwo: url("../assets/img/it-takes-two-hero-banner-desktop.jpg");
}

* {
  font-family: "Inter", sans-serif;
}

.bg-img {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#cards .card {
  overflow: hidden;
}

#cards .card.active {
  outline: 3px solid #0064c9;
  outline-offset: 3px;
}

#cards .card:hover {
  transform: translateY(-10px);
  transition: translate 0.5s ease;
}

#navbar a:hover img.default {
  display: none;
}

#navbar a img.in_hover {
  display: none;
}

#navbar a:hover img.in_hover {
  display: block;
}

#navbar a span {
  font-weight: 600;
}
