:root {
  --navbar-height: 93.59px;
  --bg-img-header: url("../assets/img/jumbo-bg.png");
}

* {
  font-family: "Inter", sans-serif;
}

.bg-img {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#cards .card {
  overflow: hidden;
}

#cards .card.active {
  outline: 3px solid #0064c9;
  outline-offset: 3px;
}

#cards .card:hover {
  transform: translateY(-10px);
  transition: translate 0.5s ease;
}
